@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.underreview {
  background-image: url('../public/images/girl2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.loginform {
  background-image: url('../public/images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.background-blur {
  background-color: rgba(41, 238, 143, 0.271);
}

.stats {
  background-image: url(../public/images/patternpad.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@font-face {
  font-family: Circular-Std;
  src: url(../public/fonts/Circular\ Std\ Font.otf);
}

@font-face {
  font-family: Circular-std-medium;
  src: url(../public/fonts/circular-std-medium-500.ttf);
}

@font-face {
  font-family: Circular-std-book;
  src: url(../public/fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: Cerebri-sans-book;
  src: url(../public/fonts/Cerebri\ Sans\ Book.ttf);
}
